@import "colors";

.window {
  border-radius: 1.5rem;
  min-height: 190px;
  margin-top: 1rem;
  &--user {
    background: $color-dark-blue;
    color: $color-desaturated-blue;
  }

  &--work {
    background-color: $color-work;
    &::after {
      content: url(../images/icon-work.svg);
    }
  }

  &--play {
    background-color: $color-play;
    &::after {
      content: url(../images/icon-play.svg);
    }
  }

  &--study {
    background-color: $color-study;
    &::after {
      content: url(../images/icon-study.svg);
    }
  }

  &--exercise {
    background-color: $color-exercise;
    &::after {
      content: url(../images/icon-exercise.svg);
    }
  }

  &--social {
    background-color: $color-social;
    &::after {
      content: url(../images/icon-social.svg);
    }
  }

  &--selfcare {
    background-color: $color-selfcare;
    &::after {
      content: url(../images/icon-self-care.svg);
    }
  }
}

.pfp {
  width: 90px;
  border: 5px solid white;
  border-radius: 50%;
}

.report {
  padding: 2rem;
  border-radius: 1.5rem;
  color: white;

  &--user {
    background: $color-primary;
    display: flex;

    &__title {
      margin: auto auto auto 1.5rem;
      &--name {
        font-weight: 300;
        font-size: 2rem;
      }
    }
  }

  &--activity {
    background: $color-dark-blue;
    position: absolute;
    padding: 2rem 2rem;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;

    &__top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      &--title {
        font-size: 1.4rem;
      }
      &--menu-icon {
        background-image: url("../images/icon-ellipsis.svg");
        width: 22px;
        height: 7px;
        background-position: center;
        background-repeat: no-repeat;

        &:hover {
          background-image: url("../images/Vector.svg");
        }
      }
    }

    &__bottom {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 300;

      &--hours {
        font-size: 2.3rem;
      }
      &--past-time {
        color: $color-pale-blue;
        margin-left: 2rem;
      }
    }
  }
}

.stats-when {
  margin: auto;
  width: 95%;
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}
