@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  background-color: #0f1424;
}

main {
  margin: 3rem auto;
  width: 90%;
  padding: 1rem;
}

.window {
  border-radius: 1.5rem;
  min-height: 190px;
  margin-top: 1rem;
}

.window--user {
  background: #1c1f4a;
  color: #6f76c8;
}

.window--work {
  background-color: #ff8c66;
}

.window--work::after {
  content: url(../images/icon-work.svg);
}

.window--play {
  background-color: #56c2e6;
}

.window--play::after {
  content: url(../images/icon-play.svg);
}

.window--study {
  background-color: #ff5c7c;
}

.window--study::after {
  content: url(../images/icon-study.svg);
}

.window--exercise {
  background-color: #4acf81;
}

.window--exercise::after {
  content: url(../images/icon-exercise.svg);
}

.window--social {
  background-color: #7536d3;
}

.window--social::after {
  content: url(../images/icon-social.svg);
}

.window--self-care {
  background-color: #f1c65b;
}

.window--self-care::after {
  content: url(../images/icon-self-care.svg);
}

.pfp {
  width: 90px;
  border: 5px solid white;
  border-radius: 50%;
}

.report {
  padding: 2rem;
  border-radius: 1.5rem;
  color: white;
}

.report--user {
  background: #5847eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.report--user__title {
  margin: auto auto auto 1.5rem;
}

.report--user__title--name {
  font-weight: 300;
  font-size: 2rem;
}

.report--activity {
  background: #1c1f4a;
  position: absolute;
  padding: 2rem 2rem;
  width: 100%;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.report--activity:active {
  background: #6f76c8;
}

.report--activity__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.report--activity__top--title {
  font-size: 1.4rem;
}

.report--activity__top--menu-icon {
  background-image: url("../images/icon-ellipsis.svg");
  width: 22px;
  height: 7px;
  background-position: center;
  background-repeat: no-repeat;
}

.report--activity__top--menu-icon:hover {
  background-image: url("../images/Vector.svg");
}

.report--activity__bottom {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
}

.report--activity__bottom--hours {
  font-size: 2.3rem;
}

.report--activity__bottom--past-time {
  color: #bdc1ff;
  margin-left: 2rem;
}

.stats-when {
  margin: auto;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stats-when__text:hover {
  color: white;
  cursor: pointer;
}

.small-text {
  font-size: 1rem;
  font-weight: 300;
  color: #bdc1ff;
}

.-b {
  font-size: 1.4rem;
}

.-active {
  color: white;
}

.-not-user {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.-not-user::after {
  position: absolute;
  top: -0.5rem;
  right: 1rem;
  z-index: -1;
}

.-grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "user work play study" "user exercise social selfcare";
}

@media (max-width: 950px) {
  .-big {
    display: none;
  }
  .-small {
    display: block;
  }
}

@media screen and (min-width: 555px) {
  .report {
    padding: 2rem 5rem;
  }
  .stats-when {
    padding: 2rem 5rem;
  }
  .window {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 950px) {
  main {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .-big {
    display: block;
  }
  .-small {
    display: none;
  }
  .window {
    margin: 0.5rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .window--user {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: user;
  }
  .window--work {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: work;
  }
  .window--play {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: play;
  }
  .window--study {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: study;
  }
  .window--exercise {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: exercise;
  }
  .window--social {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: social;
  }
  .window--self-care {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
    grid-area: selfcare;
  }
  .window .stats-when {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .window .stats-when__text {
    margin-top: 1rem;
  }
  .window .report--user {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 1.5rem;
    padding-top: 1.6rem;
    padding-bottom: 4rem;
  }
  .window .report--user__title {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .window .report--user__title--name {
    margin-top: 0.7rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }
  .window .report--activity {
    padding: 2rem 2rem;
  }
  .window .report--activity__top {
    margin-bottom: 1.2rem;
  }
  .window .report--activity__top--title {
    font-size: 1.2rem;
  }
  .window .report--activity__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 0.8rem;
  }
  .window .report--activity__bottom--hours {
    font-size: 3rem;
  }
  .window .report--activity__bottom--past-time {
    margin-left: 0;
    margin-top: 0.8rem;
    font-size: 1.085rem;
  }
  .window .stats-when {
    padding-left: 1.5rem;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1090px) {
  .report--activity__bottom--hours {
    font-size: 3.87rem !important;
  }
}
/*# sourceMappingURL=main.css.map */