@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  background-color: #0f1424;
}

main {
  margin: 3rem auto;
  width: 90%;
  padding: 1rem;
}

.window {
  border-radius: 1.5rem;
  min-height: 190px;
  margin-top: 1rem;
}

.window--user {
  background: #1c1f4a;
  color: #6f76c8;
  grid-area: user;
}

.window--work {
  background-color: #ff8c66;
}

.window--work::after {
  content: url(../images/icon-work.svg);
}

.window--play {
  background-color: #56c2e6;
}

.window--play::after {
  content: url(../images/icon-play.svg);
}

.window--study {
  background-color: #ff5c7c;
}

.window--study::after {
  content: url(../images/icon-study.svg);
}

.window--exercise {
  background-color: #4acf81;
}

.window--exercise::after {
  content: url(../images/icon-exercise.svg);
}

.window--social {
  background-color: #7536d3;
}

.window--social::after {
  content: url(../images/icon-social.svg);
}

.window--selfcare {
  background-color: #f1c65b;
}

.window--selfcare::after {
  content: url(../images/icon-self-care.svg);
}

.pfp {
  width: 90px;
  border: 5px solid white;
  border-radius: 50%;
}

.report {
  padding: 2rem;
  border-radius: 1.5rem;
  color: white;
}

.report--user {
  background: #5847eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.report--user__title {
  margin: auto auto auto 1.5rem;
}

.report--user__title--name {
  font-weight: 300;
  font-size: 2rem;
}

.report--activity {
  background: #1c1f4a;
  position: absolute;
  padding: 2rem 2rem;
  width: 100%;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.report--activity__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.report--activity__top--title {
  font-size: 1.4rem;
}

.report--activity__top--menu-icon {
  width: 30px;
  height: 8px;
}

.report--activity__bottom {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
}

.report--activity__bottom--hours {
  font-size: 2.3rem;
}

.report--activity__bottom--past-time {
  color: #bdc1ff;
}

.stats-when {
  margin: auto;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.small-text {
  font-size: 1rem;
  font-weight: 300;
  color: #bdc1ff;
}

.-b {
  font-size: 1.4rem;
}

.-active {
  color: white;
}

.-not-user {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.-not-user::after {
  position: absolute;
  top: -.5rem;
  right: 1rem;
  z-index: -1;
}
/*# sourceMappingURL=main.css.map */